<h1>Posts</h1>
<ul>
{% for post in object_list %}
    <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a> - {{ post.published }} <img src="{{ post.image.url }}" alt="image" height="24" width="24"></li>
{% empty %}
    <li>No articles yet.</li>
{% endfor %}
</ul>